<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	ebankWEB</display-name>

	<filter>
		<filter-name>FilterEncoding</filter-name>
		<filter-class>com.iss.itreasury.servlet.FilterEncoding</filter-class>
		<init-param>
		  <param-name>encoding</param-name>
		  <param-value>GBK</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<description>
		</description>
		<display-name>
		OB_SDCInterfaceFilter</display-name>
		<filter-name>OB_SDCInterfaceFilter</filter-name>
		<filter-class>com.iss.system.adapter.OB_SDCInterfaceFilter</filter-class>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>sdc.transfer.service.url</param-name>
			<param-value>http://10.10.14.205:9080/toftmerge/MGHessianServlet</param-value>
		</init-param>
		<init-param>
			<param-name>filter.enable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>OB_SDCInterfaceFilter</filter-name>
		<servlet-name>action</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OB_SDCInterfaceFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>MagnifierQuery</servlet-name>
		<servlet-class>com.iss.itreasury.servlet.MagnifierServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpLoadServlet</display-name>
		<servlet-name>UpLoadServlet</servlet-name>
		<servlet-class>
		com.iss.itreasury.servlet.UpLoadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DownLoadModelServlet</display-name>
		<servlet-name>DownLoadModelServlet</servlet-name>
		<servlet-class>
		com.iss.itreasury.servlet.DownLoadModelServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DownLoadServlet</display-name>
		<servlet-name>DownLoadServlet</servlet-name>
		<servlet-class>
		com.iss.itreasury.servlet.DownLoadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TestDBServlet</display-name>
		<servlet-name>TestDBServlet</servlet-name>
		<servlet-class>
		com.iss.itreasury.servlet.TestDBServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ContextServlet</display-name>
		<servlet-name>ContextServlet</servlet-name>
		<servlet-class>
		com.iss.inut.config.ContextServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		WorkFlowServlet</display-name>
		<servlet-name>WorkFlowServlet</servlet-name>
		<servlet-class>
		com.iss.inut.workflow.designer.server.WorkFlowServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		action</display-name>
		<servlet-name>action</servlet-name>
		<servlet-class>
		org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>config</param-name>
			<param-value>/WEB-INF/workflow/struts-config.xml,
			/WEB-INF/workflow/struts-config-wang.xml,
			/WEB-INF/workflow/struts-config-rao.xml,
			/WEB-INF/workflow/struts-config-self.xml,
			/WEB-INF/workflow/struts-config-tag.xml</param-value>
		</init-param>
		<init-param>
			<description>
			</description>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
 	<servlet>
		<description>
		</description>
		<display-name>
		InitEBankAppServlet</display-name>
    	<servlet-name>InitEBankAppServlet</servlet-name>
    	<servlet-class>
    	com.iss.itreasury.servlet.InitEBankAppServlet</servlet-class>
    	<load-on-startup>7</load-on-startup>
  	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DownLoadClientReportServlet</display-name>
		<servlet-name>DownLoadClientReportServlet</servlet-name>
		<servlet-class>
		com.iss.itreasury.servlet.DownLoadClientReportServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetPasswordServlet</display-name>
		<servlet-name>GetPasswordServlet</servlet-name>
		<servlet-class>
		com.iss.itreasury.servlet.GetPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>com.iss.sysframe.servlet.AjaxServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>JasperPrintServlet</servlet-name>
        <servlet-class>com.iss.sysframe.servlet.JasperPrintServletForEbank</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>DownLoadFileServlet</servlet-name>
		<servlet-class>com.iss.itreasury.servlet.DownLoadModelServlet</servlet-class>
	</servlet>
    <servlet>
		<description>
		</description>
		<display-name>
		SignatureServlet</display-name>
		<servlet-name>SignatureServlet</servlet-name>
		<servlet-class>
		com.iss.itreasury.servlet.SignatureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignatureServlet</servlet-name>
		<url-pattern>/SignatureServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
         <servlet-name>JasperPrintServlet</servlet-name>
         <url-pattern>/JasperPrintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownLoadFileServlet</servlet-name>
        <url-pattern>/DownLoadFileServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>MagnifierQuery</servlet-name>
		<url-pattern>/MagnifierQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpLoadServlet</servlet-name>
		<url-pattern>/UpLoadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownLoadModelServlet</servlet-name>
		<url-pattern>/DownLoadModelServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownLoadServlet</servlet-name>
		<url-pattern>/DownLoadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestDBServlet</servlet-name>
		<url-pattern>/TestDBServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContextServlet</servlet-name>
		<url-pattern>/ContextServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WorkFlowServlet</servlet-name>
		<url-pattern>/wfDesignerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>InitEBankAppServlet</servlet-name>
    	<url-pattern>/InitEBankAppServlet</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownLoadClientReportServlet</servlet-name>
		<url-pattern>/DownLoadClientReportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPasswordServlet</servlet-name>
		<url-pattern>/GetPasswordServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
			<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>

    <session-config>
       <session-timeout>30</session-timeout>
    </session-config>

	<ejb-ref id="EjbRef_1294135065164">
		<description>
		</description>
		<ejb-ref-name>OBAheadRepayNoticeHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obaheadrepaynotice.bizlogic.OBAheadRepayNoticeHome</home>
		<remote>com.iss.itreasury.ebank.obaheadrepaynotice.bizlogic.OBAheadRepayNotice</remote>
		<ejb-link>itreasuryEJB.jar#OBAheadRepayNotice</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294135400117">
		<description>
		</description>
		<ejb-ref-name>OBDiscountApplyHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obdiscountapply.bizlogic.OBDiscountApplyHome</home>
		<remote>com.iss.itreasury.ebank.obdiscountapply.bizlogic.OBDiscountApply</remote>
		<ejb-link>itreasuryEJB.jar#OBDiscountApply</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294136334387">
		<description>
		</description>
		<ejb-ref-name>OBDrawNoticeHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obdrawnotice.bizlogic.OBDrawNoticeHome</home>
		<remote>com.iss.itreasury.ebank.obdrawnotice.bizlogic.OBDrawNotice</remote>
		<ejb-link>itreasuryEJB.jar#OBDrawNotice</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294136334393">
		<description>
		</description>
		<ejb-ref-name>OBExtendApplyHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obextendapply.bizlogic.OBExtendApplyHome</home>
		<remote>com.iss.itreasury.ebank.obextendapply.bizlogic.OBExtendApply</remote>
		<ejb-link>itreasuryEJB.jar#OBExtendApply</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294136334399">
		<description>
		</description>
		<ejb-ref-name>OBFinanceInstrHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obfinanceinstr.bizlogic.OBFinanceInstrHome</home>
		<remote>com.iss.itreasury.ebank.obfinanceinstr.bizlogic.OBFinanceInstr</remote>
		<ejb-link>itreasuryEJB.jar#OBFinanceInstr</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294136334403">
		<description>
		</description>
		<ejb-ref-name>OBFreeApplyHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obfreeapply.bizlogic.OBFreeApplyHome</home>
		<remote>com.iss.itreasury.ebank.obfreeapply.bizlogic.OBFreeApply</remote>
		<ejb-link>itreasuryEJB.jar#OBFreeApply</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294136433330">
		<description>
		</description>
		<ejb-ref-name>OBInterestHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obinterest.bizlogic.OBInterestHome</home>
		<remote>com.iss.itreasury.ebank.obinterest.bizlogic.OBInterest</remote>
		<ejb-link>itreasuryEJB.jar#OBInterest</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294136433335">
		<description>
		</description>
		<ejb-ref-name>OBLoanApplyHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obloanapply.bizlogic.OBLoanApplyHome</home>
		<remote>com.iss.itreasury.ebank.obloanapply.bizlogic.OBLoanApply</remote>
		<ejb-link>itreasuryEJB.jar#OBLoanApply</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294136433342">
		<description>
		</description>
		<ejb-ref-name>OBPayNoticeHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obpaynotice.bizlogic.OBPayNoticeHome</home>
		<remote>com.iss.itreasury.ebank.obpaynotice.bizlogic.OBPayNotice</remote>
		<ejb-link>itreasuryEJB.jar#OBPayNotice</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294136433346">
		<description>
		</description>
		<ejb-ref-name>OBRepayPlanHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obrepayplan.bizlogic.OBRepayPlanHome</home>
		<remote>com.iss.itreasury.ebank.obrepayplan.bizlogic.OBRepayPlan</remote>
		<ejb-link>itreasuryEJB.jar#OBRepayPlan</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294136433351">
		<description>
		</description>
		<ejb-ref-name>OBSystemHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obsystem.bizlogic.OBSystemHome</home>
		<remote>com.iss.itreasury.ebank.obsystem.bizlogic.OBSystem</remote>
		<ejb-link>itreasuryEJB.jar#OBSystem</ejb-link>
	</ejb-ref>
	<ejb-ref id="EjbRef_1294136456027">
		<description>
		</description>
		<ejb-ref-name>OBBudgetHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iss.itreasury.ebank.obbudget.bizlogic.OBBudgetHome</home>
		<remote>com.iss.itreasury.ebank.obbudget.bizlogic.OBBudget</remote>
		<ejb-link>itreasuryEJB.jar#OBBudget</ejb-link>
	</ejb-ref>
	<resource-ref id="ResourceRef_1294134900273">
		<description>
		</description>
		<res-ref-name>jdbc/cpf/type4</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>